.label-blue-1 {
  color: $theme-color--blue1;
  margin-left: 26px;
}
.label-red-1 {
  color: $theme-color--red1;
  margin-left: 3px;
}
.label-blue-2 {
  color: $theme-color--blue2;
}
.label-green {
  color: $theme-color--green;
}
.lable-red-1 {
  color: $theme-color--red1;
}
.lable-red-3 {
  color: $theme-color--red3;
}
