.custom-radios {
  div {
    display: inline-block;
  }
  input[type='radio'] {
    display: none;
    + {
      label {
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 14px;
        span {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: -1px 4px 0 0;
          vertical-align: middle;
          cursor: pointer;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('../../images/radio-0.png');
          img {
            opacity: 0;
            transition: all 0.3s ease;
          }
        }
      }
    }
    &:checked {
      + {
        label {
          span {
            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
